.container__weekforecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 0.5rem;
    /* border: 1px solid red; */
}

/* Forecast Hourly */
.container__weekforecast {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
}

.weekforecast-current-hours,
.weekforecast-current-week {
    /* display: flex;
    flex-direction: column; */
    width: 46rem;
    background: rgba(246, 235, 235, 0.7);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 5px 20px;
}

.weekforecast-hours-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    font-size: .9rem;
    font-weight: bold;
    color: #757575;
}

.forecast-hours {
    list-style-type: none;
    width: 100%;
    /* border: 1px solid black; */
    /* border-top: 2px solid #ffe; */
    padding: 10px;
    margin: 5px 5px 10px 5px;
    display: inline-flex;
    justify-content: space-between;
}

.forecast-hours li {
    height: 200px;
    width: 75px;
    border-radius: 20px;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.forecast-hours li img {
    width: 30px;
    height: 30px;
}

/* Forecast Weekly */
.weekforecast-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    font-size: .9rem;
    font-weight: bold;
    color: #757575;
}

.weekforecast-title-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.forecast-weeks {
    list-style-type: none;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 10px 20px 5px 20px;
}

.forecast-weeks li {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    width: 100%;
    padding: 10px 5px 10px 5px;
    border-top: 2px solid #ffe;
}

.forecast-weeks li:hover {
    background: #ebebeb;
}

.forecast-weeks li img {
    width: 30px;
    height: 30px;
}

.forecast-weeks li span {
    margin-left: 10px;
    margin-right: 10px;
}

.forecast-weeks li span:nth-child(2), 
.forecast-weeks li span:nth-child(3){
    font-weight: 600;
}

.forecast-weeks li span:nth-child(2) {
    width: 80px;
    /* border: 1px solid blue; */
}

.forecast-weeks li span:nth-child(3) {
    width: 200px;
    /* border: 1px solid blue; */
}

.forecast-weeks li span:nth-child(4) {
    width: 200px;
    /* border: 1px solid blue; */
}

.forecast-weeks li span:nth-child(5) {
    display: flex;
    width: 150px;
    /* border: 1px solid blue; */
    justify-content: flex-end;
}


