@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --bg-color-start: #6295bf;
    --bg-color-end: #d1e0ec;

    --bg-night-color-start: #352f44;
    --bg-night-color-end: #606470;

    --text-primary: #FFFFF0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;  
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body {
    width: 100vw;
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(var(--bg-color-start), var(--bg-color-end)) no-repeat;
}
